.shadow_card {
    background: #FFFFFF;
box-shadow: 0px 8px 25px 14px rgba(255, 0, 0, 0.07);
border-radius: 16px;
flex: 1 1 auto;
padding: 1rem;
}
.pad-card{
    padding: 10px;
background: #e1e1e1;
border-radius: 5px;
position: relative;
}
.label_text{
    font-size: 18px;
font-weight: bold;
color: #ff2d2d;
padding: 20px 15px;
}

#menuItems .pd {
  padding: 1rem 1.5rem;
}

.row.items .row {
    padding: 10px;background: #e1e1e1;border-radius: 5px;
}

#basic-addon2 {
    cursor: pointer;
}

.row.items .item {
    cursor: pointer;
}

.row.items .col-4 {
    padding: 5px 20px;
}

body {
	font-family: 'Varela Round', sans-serif;
}
.modal-body {
	width: 1100px;
    margin:40px auto;
    box-shadow: 0 10px 25px;
	border-radius: 20px;
}
.modal-body .text{
    font-size: 18px;
    font-weight: bold;
    color: #ff2d2d;
    margin-top: 10%;
	margin-left: 2%;
}

.login {
  float: right;  
  margin-top: -40px;
  font-size: 20px;
  color: #ff2d2d;
}

.login :hover {
    text-decoration: none;
}
/*.modal-body .form-group {
	margin-bottom: 20px;
    width: 280px;
    margin-left: 9%;
}*/

.modal-body .form-control {
	min-height: 40px;
	font-size: 15px;
	transition: all 0.5s;
}

.merge {
    background-color:#90ee90;
    padding: 2px 20px;
    border-radius: 20px;
}
.support {
    text-align: center;
    font-size: 12px;
    margin-top: 40%;
}

.form-group i{
    position: absolute;
}

.modal-body .hint-text {
	text-align: center;
}
.hint-text a:hover{
    text-decoration: none;
}
.text1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #ff2d2d;
}   

.btn {      
   background-color: #ff2d2d;  
    color: white;
    margin-top: 2%;
    font-size: 17px;
    font-weight:500;
    width: 200px;
    padding: 10px;
}
label {
    color: #696969;
}

#type{
    width: 80px;
    padding: 5px;
}
a:hover{
	text-decoration: none;
}
.fas{
    color:white;
    font-size: 20px;
    margin-left: 13%;
    margin-top: -3%;
    cursor: pointer;
}
.thank{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    color: #ff2d2d;
    margin-top:40px;
}
.thankImg{
    max-width: -webkit-fill-available;
}

.thankText{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #212121;
    margin-top:40px;
}

.btn-center{
    left: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
    bottom: 30px;
}

.p-btm{
    padding-bottom: 100px;
}

button:focus, button:disabled {
  outline: none;
  background: #aaa;
}

.spin {
  padding-left: 2.5em;
  display: block;
}

.spin .spinner {
  left: -.6em;
  width: 2.5em;
  display: block;
  z-index:1000000;
  position: relative;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.spin .spinner::before {
  content: "";
  width: 1.5em; 
  height: 1.5em; 
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: solid .35em #999; 
  border-bottom-color: #555; 
  animation: .8s linear infinite spinner; 
  transform: translate(-50%, -50%);
  will-change: transform;
}